<h1>Editing pessoa</h1>

<% form_for(@pessoa) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pessoa %> |
<%= link_to 'Back', pessoas_path %>